*
!.gitignore
!package.json
!pnpm-lock.yaml
!antora-playbook.yml
!README.md
!CHANGELOG.adoc
!CNAME
!docs/
!docs/**
!supplemental-ui/
!supplemental-ui/**
!changelog-details/
!changelog-details/**
!.github/
!.github/**
!.github/workflows/
!.github/workflows/**
